@require constants
html, body
  height: 100%

body
  margin: 0
  color: white
*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

#main-container
  height: 100%


#sidebar
  background-color: dark-grey
  height: 20%

#paste-content
  background-color: light-grey
  height: 80%

  textarea
    color: white
    background-color: inherit
    resize: none
    border: 0px
    height: 100%
    width: 100%
    &:focus
      outline: none



#sidebar, #paste-content
  border: 1px solid black
  overflow: scroll

#footer
  background-color: med-grey
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 2em

@media screen and (min-width: 47.5em )
  #sidebar, #paste-content
    height: 100%

  #paste-content
    margin-left: 300px

  #sidebar
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;