@require constants
html, body
  height: 100%

body
  margin: 0

  color: white
  font-family: "Courier New", Courier, monospace

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

#main-container
  height: 100%




#sidebar
  height: 20%

  background-color: dark-grey
  border-right: 1px solid rgb(20, 20, 20)

#paste-content
  height: 80%

  background-color: light-grey

  textarea
    resize: none
    height: 100%
    width: 100%

    color: white
    background-color: inherit
    border: 0px
    font-family: inherit
    font-size: 1em

    &:focus
      outline: none

#sidebar, #paste-content
  overflow: scroll

#footer
  position: fixed
  display: table // to vertical align content
  bottom: 0
  left: 0
  width: 100%
  height: 2em

  background-color: med-grey
  border-top: 1px solid rgb(20, 20, 20)

  .footer-content
    display: table-cell
    vertical-align: middle

@media screen and (min-width: 47.5em )
  #sidebar, #paste-content
    height: 100%

  #paste-content
    margin-left: 300px

  #sidebar
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;