dark-grey= rgb(30, 30, 30)
med-grey= rgb(34, 34, 34)
light-grey= rgb(39, 39, 39)

highlight-blue = rgb(104, 213, 232)
highlight-green = rgb(166, 223, 63)
highlight-yellow = rgb(229, 218, 123)
highlight-grey = rgb(100, 100, 100)

border-color=rgb(65, 65, 65)

text-dark-grey = rgb(115, 115, 115)
text-med-grey = rgb(152, 152, 152)

